################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/study_algorithm__c_0805/.vs/study_algorithm__c_0805/v16
/study_algorithm__c_0805/Debug
/.vs/study_algospot/v16/Browse.VC.opendb
/.vs/VSWorkspaceState.json
/study_algorithm__c_0805/study_algorithm__c_0805/Debug/2167.obj
/study_algorithm__c_0805/study_algorithm__c_0805/Debug/B6.obj
